<!DOCTYPE html>
<html lang="en">
<head>
     {{>header}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../home.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>Welcome to AGB fitness</h1>
        <h2>jHealth and fitness is the most important aspect of our life. There is nothing more important than health for any human being. When we are healthy and fit we are able to enjoy our life well. We can talk to our near and dear one, we can laugh, smile, travel, enjoy food, and sleep well. , A mental illness is a physical illness of the brain that causes disturbances in thinking, behavior, energy or emotion that make it difficult to cope with the ordinary demands of life. Research is starting to uncover the complicated causes of these diseases which can include genetics, brain chemistry, brain structure, experiencing trauma and/or having another medical condition, like heart disease. </h2>
        

    </div>
    </div>
</body>
</html>