<!DOCTYPE html>
<html lang="en">
<head>
     {{>header}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../home.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>Welcome to AGB fitness</h1>
        <h2>join us today </h2>
        <h2> We help you become the best you can be no limits to success </h2>

      <a id="login" href="/users/login">Login</a>
        <a href="/users/signup">Sign Up</a>
         <a href="/about">About Us</a>
    </div>
    </div>
</body>
</html>